<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="nav">
    <nav class="navbar navbar-expand-sm bg-light navbar-dark navbar-fixed-top" style="margin: 0; border: 0;">
        <div class="container">

            <div id="navbar" class="navbar-collapse collapse justify-content-between mb-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/" >首页</a>
                    </li>

                </ul>
                <div >
                    <a class="btn btn-danger" th:href="@{/user}" th:if="${#httpServletRequest.remoteUser}">个人中心</a>
                    <a class="btn btn-success" th:href="@{/login}" th:unless="${#httpServletRequest.remoteUser}">登录</a>
                    <a class="btn btn-lg" href="http://spring4all.com" target="_blank">关于</a>
                </div>
            </div>
        </div>
    </nav>
</div>
</body>
</html>